.I1{
    width:210px;
    height:210px;
    margin-top: 2px;
}
.I2{
    width: 210px;
    height:210px;
    margin-left: 40px;   
}
.I3{
    width:210px;
    height:210px;
    margin-left: 40px;
}
.I4{
    width:210px;
    height:210px;
    margin-left: 40px;
}
.I5{
    width:210px;
    height:210px;
    margin-left: 40px;
}
.I6{
    width:210px;
    height:210px;
    margin-top: 5px;
}
.I7{
    width:210px;
    height:210px;
    margin-left: 40px;
    margin-top: 5px;
}
.I8{
    width:210px;
    height:210px;   
    margin-left: 40px;
    margin-top: 5px;
}
.I9{
    width:210px;
    height:210px;
    margin-left: 40px;
    margin-top: 5px;
}
.I10{
    width:210px;
    height:210px;
    margin-left: 40px;
    margin-top: 5px;
}